.classpath
bin/
temp/
.DS_Store
copy/
.settings/org.eclipse.jdt.core.prefs
WebContent/META-INF/MANIFEST.MF
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.settings/.jsdtscope
*.class